@media (min-width: 1200px) {
	.bmi-section {
		width: 75%;
		padding: 8em;
		img {
			width: 64px;
			height: 64px;
		}

		.section-heading {
			font-size: 6.4rem;
		}

		.section-text {
			font-size: 2rem;
			font-weight: normal;
		}
	}
	.bmi-meaning {
		margin: 4em 0;

		&--img {
			width: 45vw;
		}

		.flex-group {
			width: 40%;
			margin: 0 auto;
		}

		.section-text {
			line-height: 180%;
			font-size: 1.8rem;
		}
	}

	.bmi-limit {
		.limit-box {
			&__item {
				&:nth-child(4) {
					transform: translateX(-250px);
				}

				&:nth-last-child(1) {
					grid-column: 2/-1;
					width: 100%;
					transform: translateX(-250px);
				}
			}
		}
	}
}
